* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.mess{
    font-size: 3rem;
}

button{
    height: 1.5rem;
    width: 7rem;
    border-radius: 1rem;
    border: 1px solid black;
}

.container {
    margin-top: 100px;
    display: none;
    grid-template-columns: repeat(3, 165px);
    grid-template-rows: repeat(3, 165px);
    height: 495px;
    width: 495px;
}

div {
    display: flex;
    border : 1px solid black;
}

div div {
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

#retry {
    display: none;
}